<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ensino a dintância" />
    <title>Monitoria</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
</head>
<header>

    <div class="center">
            <div class="logo"><a></a></div>
            <ul class="mainMenu">
                <li class=""><a href="{% url 'home' %}" target="">Início</a>
                </li>
                <li class=""><a href="{% url 'cursos' %}" target="">Cursos</a>
                </li>
                <li class=""><a href="{% url 'contato' %}" target="">Monitores</a>
                </li>
                {% if user.is_authenticated %}
                         <li class=""><a href="{% url 'perfil' %}" target="">Perfil</a>
                        </li>
                        <li class=""><a href="{% url 'logout' %}" class="Destaque">Sair</a>
                        </li>
                    {% else %}
                        <li><a href="{% url 'register' %}" target="">Registrar</a>
                        </li>
                        <a href="{% url 'login' %}" class="Destaque"> Login </a>
                    {% endif %}
            </ul>

    </div>
</header>
<body>
<h2></h2>
{% block content %}{% endblock %}
</body>
</html>