{% extends "base.html" %}
{% block content %}
<font face="arial" color="black">
    <div class="pure-g-r content-ribbon" style="text-align: center">
        <div class="pure-u-1">
            <div class="l-box">
                <h1 class="content-subgead">Monitores do Semestre</h1>
                <br>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui stackable grid">
            {% for monitor in monitores %}
            {% if monitor.arquivado == False %}
            <div class="four wide column">
                <div class="ui fluid card">
                  <div class="content">
                    <div class="header">{{ monitor }}</div>
                      <div class="summary" style="color:purple">{{monitor.get_local_display}}</div>
                </div>
                <div class="content">
                    <h4 class="summary">Horário: {{monitor.hora_inicio}} às {{monitor.hora_fim}}</h4>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <h4>{{ monitor.email }}</h4>
                            </div>
                        </div>
                    </div>
                      <div class="event">
                        <div class="content">
                            <div class="summary">
                                <h4>WhatsApp: {{ monitor.wpp }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <h4>Google Meet:
                                    <a href="{{monitor.link_monitoria}}">
                                        <img src="https://play-lh.googleusercontent.com/GBYSf20osBl2CRHbjGOyaOG5kQ3G4xbRau-dzScU9ozuXQJtnUZPkR3IqEDOo5OiVgU"
                                             height=100px;" width="100px;">
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
    </div>
</font>
{% endblock %}