{% extends "base.html" %}
{% block content %}
    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <font face="arial">
                <div class="l-box">
                    <h3 class="content-subhead"><font color="black">gabriel.rangel@sempreceub.com</font></h3>
                </div>
                <div class="l-box">
                    <h3 class="content-subhead"><font color="black">igor.hideaki@sempreceub.com</font></h3>
                </div>
                <div class="l-box">
                    <h3 class="content-subhead"><font color="black">gulherme.inaba@sempreceub.co</font></h3>
                </div>


             </font>

        </div>
{% endblock%}
