{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <font color="black" face="arial">
    <title>Title</title>
    <h1 style="text-align: center; color: purple;">Programa de Monitoria UniCEUB</h1>
    </font>
    <style>
        body{
            background-color: "white"');
        }
        img{
        height: 300px;
        }
    </style>
</head>

<body>


<p align="center"><img src="https://revista-images.querobolsa.com.br/revista/post_images/35297/00b9199d9a9d8adac088655b3eeda7e78e83a28b.jpg?1620756713"
                       style="width:80%; height:300px" ></p>

</body>
{% endblock%}

