{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <font color="black" face="arial">
    <title>Title</title>
    <h1>Esta é uma plataforma de ensino a distância com diversos cursos direcionados para a área de TI</h1>
    </font>
    <style>
        body{
            background-color: "white"');
        }
        img{
        height: 300px;
        }
    </style>
</head>

<body>
    <img src="https://img1.goodfon.com/original/1920x1080/6/21/anime-devochka-windows.jpg" h>
    <font face="arial">
    <h2>▶Aulas em vídeo</h2>
    <h2>▶Acesso permanente às aulas</h2>
    <h2>▶Suporte e dúvidas</h2>
    <h2>▶Certificado</h2>
    <h2>▶Exercícios</h2>
    <h2>▶Assista em qualquer lugar</h2>
    </font>
</body>
{% endblock%}

