{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <font color="black" face="arial">
    <title>Title</title>
    <h1>Cursos de Programação, Redes e Segurança</h1>
    </font>
    <style>
        body{
            background-color: "white"');
        }
        img{
        height: 300px;
        }
    </style>
</head>

<body>


<p align="center"><img src="http://d30p9ca83oqyng.cloudfront.net/defesanet/site/upload/news_image/2019/11/45554_resize_620_380_true_false_null.jpg" style="width:500px; height:300px" ></p>
<font face="arial">
<table>
  <tr>
    <td><img align="left" src="https://cdn.ead.guru/static/website/images/exercises.svg" width="{{ 100 }}" height="{{ 100 }}"/></td>
      <td> Exercícios práticos </br></td>

      <td><img align="left" src="https://cdn.ead.guru/static/website/images/video.svg" width="{{ 100 }}" height="{{ 100 }}"/></td>
      <td> Aulas em vídeo </br> </td>

      <td><img align="left" src="https://cdn.ead.guru/static/website/images/responsive.svg" width="{{ 100 }}" height="{{ 100 }}"/></td>
      <td> Assista onde quiser </br> </td>

      <td><img align="left" src="https://cdn.ead.guru/static/website/images/support.svg" width="{{ 100 }}" height="{{ 100 }}"/></td>
      <td> Suporte a dúvidas</br> </td>
  </tr>
</table>
 </font>
</body>
{% endblock%}

