{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div align="center">
<font face="Arial">

    <form method="post">
        <h1>REGISTRAR</h1>
        <input type="text" placeholder="Insira seu nome de usuario"/>
    </form>


    <form>
         <input type="password" placeholder="Insira sua senha"/>
    </form>


    <form>
        <input type="password" placeholder="Confirme sua senha"/>
    </form>


    <form>
        <input type="text" placeholder="Insira seu email"/>
    </form>


    <form>
        <input type="text" placeholder="Confirme seu email"/>
    </form>


    <form>
        <p class="message"><a href="#">Li e concordo com os termos de uso</a></p>
    </form>


    <form>
        <button type="submit">Registrar</button>
    </form>
</font> <br />
</div>
</body>
<li></li>
</html>
{% endblock%}