{% extends "base.html" %}
{% load static %}

{% block content %}
<font face="arial" color="black">
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <div class="l-box">
            <h1 class="content-subgead">Cursos Disponíveis</h1>
        </div>
    </div>
</div>
{% if courses %}
{% for course in courses %}
<div class="pure-g-r content-ribbon">
    <div class="=pure-u-1-3">
        <div class="l-box">
            <a href="{{ course.curso.get_absolute_url }}">
                {% if course.curso.image %}
                {{ course.curso.name }}
                <img src="{{ course.curso.image.url }}" style="width:200px; height:200px" alt="{{ course.curso.name }}">
                {% else %}
                <img src="{% static 'img/400x400.jpg' %}" alt="{{ course.name }}">
                {% endif%}
            </a>
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead"><a href="{{ course.curso.get_absolute_url }}" title="">{{ course.curso.nome }}</a> </h4>
            {{ course.curso.descripition|linebreaks}}
        </div>
    </div>
</div>
</font>
{% endfor %}
{% endif %}
{% endblock %}