{% extends "base.html" %}
{% load static %}

{% block content %}
<font face="arial" color="black">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="six wide column">
                <h1>{{ course.curso.name }}<br>{{ course.data_inicio }}</h1>
                <h3 class="content-subhead"><font color="black">
                    {{course.get_local_display}}
                </font>
                </h3>
            </div>
            <div class="nine wide column">
                {% if course.link_inscricao %}
                <h2 style="color: purple"> Link de inscrição:<a href="{{course.link_inscricao}}">
                    {{course.link_inscricao}}</a></h2>
                {% else %}
                <h2 style="color: purple">Não a Link de inscrição disponível no momento.</h2>
                {% endif%}
                {% if course.link_aula %}
                <h2 style="color: purple"> Link das aulas: <a href="{{course.link_aula}}">{{course.link_aula}}</a></h2>
                {% else %}
                <h2 style="color: purple">Não a Link da aula disponível no momento.</h2>
                {% endif%}
            </div>

        </div>
        <div class="ui stackable grid">
            <div class="four wide column">
                {% if course.curso.image %}
                <img src="{{ course.curso.image.url }}" style="width:200px; height:200px" alt=""/>
                {% else %}
                <img src="{% static 'img/200x200.jpg' %}" alt=""/>
                {% endif %}
            </div>
            <div class="four wide column">
                <h2 class="content-subhead"><font color="black">Sobre o curso</font></h2>
                <h4>{{ course.curso.topics|linebreaks}}</h4>
            </div>
            <div class="six wide column">
                <h2 class="content-subhead"><font color="black">Datas e horários</font></h2>
                <h4>Início das aulas: {{ course.data_inicio}}<br>
                    Fim das aulas:&nbsp &nbsp {{ course.data_fim}}<br>
                    <br>
                    Horário das aulas: {{course.hora_inicio}} às {{course.hora_fim}}
                </h4>
            </div>
        </div>
    </div>
</font>
{% endblock %}