{% extends 'base.html' %}
{% block title %}Crie sua conta{% endblock %}
{% block content %}
<style>
        .container{
            max-width: 500px;
            margin: 0 auto;
        }

</style>
<font face="arial">
    <div class="container">
        <h1 style="text-align: center">Crie sua conta</h1>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            {{ form.as_p }}
            <div style="text-align: center"><input class="btn btn-primary" type="submit" value="Registrar"></div>
        </form>
    </div>
</font>
{% endblock %}